*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar{
    background-color: dodgerblue;
    padding: 0;
  }
  .navbar-toggler:focus{
    box-shadow: none;
    border: none;
  }
  #pages:hover{
    color: white;
    font-weight: bold;
  }
  .icon:hover{
    color: dodgerblue;
  }
  .ahover{
    /* text-decoration: none; */
    color: black;
  }
  .ahover:hover{
    color: dodgerblue;
  }
  .contain{
    /* height: 1500px; */
    margin-top: 100px;
    margin-bottom: 100px;
    /* overflow: hidden; */
  }
  .logo{
    width: 100px;
    height: 100px;
  }
  #btn-color{
    background-color: dodgerblue;
  }
  #footer{
    /* margin-top: 100%; */
    background-color: whitesmoke;
  }
  
  @media (min-width:450px) and (max-width:1000px){
    .ul-bg{
    background-color: dodgerblue;
  }
  .navbar-collapse{
    display: flex;
  }
  .ahover:hover{
    color: dodgerblue;
  }
  .pages:hover {
    color: white !important;
    width: 20px;
  }
  
  .border-top li:hover{
    color: dodgerblue !important;
  }
  }